
.img-centered {
    margin: 0 auto;
}

html,body {height:100%;}
header {
    text-align: center;
    color: #fff;
    background: #003262;
	height: 40%;
	
}

header .container {
	
    padding-top: 40px;
    padding-bottom: 40px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;

    font-size: 200%;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 120%;
    font-weight: 300;
}


.btn-outline {
    margin-top: 15px;
    border: solid 2px #000;
    font-size: 20px;
    color:black;
    background: 0 0;
    transition: all .3s ease-in-out;
}


.cv {
	background: #fff;
}

.papers {
	background: #fff;
}

.others {
	background: #fff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}